@font-face {
  font-family: myFirstFont;
  src: url(LEMONMILK-Bold.otf);
}

html{
  font-family: myFirstFont;
  width: auto;
  background-color: #E5DDCE;
  text-align: center;
  scroll-behavior: smooth;
}

body{
  overflow: hidden;
}

.screen{
  height: 100vh;
  width: 100vw;
}

#fast-game{
  height: 0px;
  visibility:hidden;
}

#fail-game{
  height: 0px;
  visibility:hidden;
}

#level-select{
  height: 0px;
  visibility:hidden;
}

#options{
  height: 0px;
  visibility:hidden;
}

h1{
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 70px;
  word-wrap: break-word;
  cursor: default;
}

h2{
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 70px;
  word-wrap: break-word;
  cursor: default;
}

.actions{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button{
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: brown;
  font-size: 20px;
  padding: 10px;
  margin: 1rem;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  transition: 0.1s;
  text-decoration: none;
}

.button:hover{
  transform: translate(-3px,-3px);
  -webkit-box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
}

.button:active{
  transform: translate(3px,3px);
  -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
  box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
}

.levels{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapsible {
  font-family: myFirstFont;
  background-color: #E5DDCE;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  border: black 10px solid;
  color: black;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  width: 109px;
  text-align: center;
  margin-bottom: 1rem;
  transition: 0.1s;
}

.collapsible:hover {
  transform: translate(-3px,-3px);
  -webkit-box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  background-color: brown;
  border: brown 10px solid;
  color: white;
}

.collapsible:active{
  transform: translate(3px,3px);
  -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
  box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
}

.panel{
  height: 0px;
  transition: 0.5s;
  padding: 0;
  z-index: -1;
  opacity: 0.25;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 80%;
  display: flex;
  align-items: center;
}

.select-level{
  font-family: myFirstFont;
  background-color: rgba(255, 255, 255, 0);
  border: black 10px solid;
  color: black;
  cursor: pointer;
  text-align: center;
  transition: 0.1s;
  display: block;
  font-size: 20px;
  padding: 10px;
  min-width: 55px;
  margin: 0.5rem;
  text-decoration: none;
}

.select-level:hover{
  background-color: brown;
  border: brown 10px solid;
  color: white;
}

@media only screen and (max-width: 768px) {
  h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 35px;
    word-wrap: break-word;
    cursor: default;
  }
  
  h2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 35px;
    word-wrap: break-word;
    cursor: default;
  }

  .actions{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .collapsible {
    width: 80%;
  }
  
  }
