@font-face {
  font-family: myFirstFont;
  src: url(LEMONMILK-Bold.otf);
}

html{
  font-family: myFirstFont;
  width: auto;
  background-color: #E5DDCE;
  text-align: center;
  scroll-behavior: smooth;
}

body{
  overflow: hidden;
}

.screen{
  height: 100vh;
  width: 100vw;
}

#fast-game{
  height: 0px;
  visibility:hidden;
}

#fail-game{
  height: 0px;
  visibility:hidden;
}

#level-select{
  height: 0px;
  visibility:hidden;
}

#options{
  height: 0px;
  visibility:hidden;
}

h1{
  margin: 0rem 2rem 1rem 2rem;
  font-size: 5rem;
  word-wrap: break-word;
}

.actions{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button{
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: brown;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  transition: 0.1s;
  text-decoration: none;
}

.button:hover{
  transform: translate(-3px,-3px);
  -webkit-box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
}

.button:active{
  transform: translate(3px,3px);
  -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
  box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
}

.levels{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapsible {
  font-family: myFirstFont;
  background-color: #E5DDCE;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  border: black 10px solid;
  color: black;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 7rem;
  transition: 0.1s;
}

.collapsible:hover {
  transform: translate(-3px,-3px);
  -webkit-box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  background-color: brown;
  border: brown 10px solid;
  color: white;
}

.collapsible:active{
  transform: translate(3px,3px);
  -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
  box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
}

.panel{
  height: 0rem;
  transition: 0.5s;
  padding: 0;
  z-index: -1;
  opacity: 0.25;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 90%;
}

.select-level{
  font-family: myFirstFont;
  background-color: rgba(255, 255, 255, 0);
  border: black 10px solid;
  color: black;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.1s;
  display: block;
  width:  10rem;
  margin: 0.5rem;
}

.select-level:hover{
  background-color: brown;
  border: brown 10px solid;
  color: white;
}
