@font-face {
  font-family: LEMONMILK-Bold;
  src: url(LEMONMILK-Bold.otf);
}

html{
  font-family: LEMONMILK-Bold;
  background-color: #E5DDCE;
  text-align: center;
  scroll-behavior: smooth;
  padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body{
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: block;
}

.screen{
  transition: 0.5s ease-out;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.CookieBannerBG{
  background-color: hsla(36, 6%, 16%, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CookieBanner{
  width: 80%;
  height: auto;
  background-color: #E5DDCE;
  border: black 10px solid;
  color: black;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#options{
  background-color: #2b2926;
  color: white;
}

h1{
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 100px;
  word-wrap: break-word;
  cursor: default;
}

.levels{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button{
  font-family: LEMONMILK-Bold;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: brown;
  font-size: 20px;
  padding: 10px;
  margin: 1rem;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  transition: 0.1s;
  border: 0;
  text-decoration: none;
  width: 200px;
}

.buttIcon{
  max-height: 20px;
  filter: invert(100);
}

.button:hover{
  transform: translate(-3px,-3px);
  -webkit-box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  box-shadow: 16px 16px 0px 0px rgba(0,0,0,1);
  border: 0;
}

.button:active{
  transform: translate(3px,3px);
  -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
  box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
  border: 0;
}

.button:focus + .panel{
  max-height: 400px;
  z-index: 0;
  opacity: 1;
  width: 80%;
  display: flex;
  align-items: center;
}

#withoutCookies{
  background-color: rgba(255, 255, 255, 0);
  border: black 10px solid;
  color: black;
  cursor: pointer;
}

.collaps{
  background-color: rgba(255, 255, 255, 0);
  border: brown 10px solid;
  color: brown;
  cursor: pointer;
}

.collaps:hover{
  color: white;
  border: brown 10px solid;
  background-color: brown;
}

.collaps:active{
  color: white;
  border: brown 10px solid;
  background-color: brown;
}

.collaps:focus{
  color: white;
  border: brown 10px solid;
  background-color: brown;
}

#backbutton{
  background-color: rgba(255, 255, 255, 0);
  border: black 10px solid;
  color: black;
  cursor: pointer;
  margin-top: auto;
}

#backbuttonOptions{
  background-color: rgba(255, 255, 255, 0);
  border: rgb(255, 255, 255) 10px solid;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: auto;
}

.panel{
  max-height: 0px;
  transition: 1s;
  padding: 0;
  z-index: -1;
  opacity: 0;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
}

.select-level{
  font-family: LEMONMILK-Bold;
  background-color: rgba(255, 255, 255, 0);
  border: black 10px solid;
  color: black;
  cursor: pointer;
  text-align: center;
  transition: 0.1s;
  font-size: 20px;
  padding: 10px;
  min-width: 75px;
  margin: 0.5rem;
  text-decoration: none;
  flex-grow: 1;
}

.select-level:hover{
  background-color: brown;
  border: brown 10px solid;
  color: white;
}

.information{
  padding: 30px;
}



@media only screen and (max-width: 768px) {
  h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 35px;
    word-wrap: break-word;
    cursor: default;
  }
  
  h2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 35px;
    word-wrap: break-word;
    cursor: default;
  }

  .actions{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .collapsible {
    width: 80%;
  }
  
  }
